.app_banner {
  padding-left: 5%;
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: rgb(82, 28, 28);
  text-shadow:
		-1px -1px 0 rgb(215, 218, 178),
		1px -1px 0 rgb(215, 218, 178),
		-1px 1px 0 rgb(215, 218, 178),
		1px 1px 0 rgb(215, 218, 178);
  color: rgb(150, 99, 99);
}

h1 {
  margin: 0;
  font-size: 36px;
}
h2 {
  font-size: 24px;
}